

.contributorContent {
    margin-bottom: 20px;
    /* height: 200px; */
    width: 90%;
}

.contributorHeader {
    
}

.contributorBio{
    font-size: 20px;
    margin-top: 20px;
}

.summary {
    font-size: 16px;
}

.section{
    margin-bottom: 50px;
}

.contributorName {
    color: var(--accent-color);
}

.contributorDetails {
    font-size: 18px;
    color: var(--highlight-color);
}

.portrait {
    float: left;
    max-width: 200px;
    margin-right: 20px;
}