

.contributorContent {
    margin-top: 15px;
    margin-bottom: 20px;
    width: 90%;
}

.contributorHeader {
}

.contributorBio{
    font-size: 20px !important;
    margin-top: 20px !important;
}


.section{
    margin-bottom: 50px;
}

.contributorName {
    color: var(--accent-color);
    font-size: 26px;
}

.contributorDetails {
    font-size: 18px !important;
    color: var(--highlight-color);
}

.portrait {
    float: left;
    max-width: 200px;
    margin-right: 20px;
    margin-bottom: 10px;
}