@font-face {
  font-family: 'EleganTech';
  src: local('EleganTech'), url(./fonts/elegantech/EleganTech.ttf) format('truetype');
}

@font-face {
  font-family: 'LondonMM';
  src: local('LondonMM'), url(./fonts/london_between/LondonMM.ttf) format('truetype');
}

@font-face {
  font-family: 'SoftLine';
  src: local('SoftLine'), url(./fonts/softline/SoftLine.otf) format('opentype');
}

.appHeader {
  text-align: left;
  width: 80%;
}

.logoContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  margin-left: 35px;
}

.company {
  font-family: LondonMM, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  margin-bottom: 0px;
}


.sideBarContainer {
  margin-top: 50px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
}

.App-wrapper {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  font-family: SoftLine, 'Roboto', sans-serif;
}

h1 {
  font-size: 20px;
}


.container {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
  width: 80%;
}

.contentWrapper {
  float: right;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  margin-top: 50px;
  /* width: 800px; */
  background-color: var(--secondary-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

/* @media only screen and (max-width: 1500px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1400px !important;
    max-width: 1200px !important;
  }

  .sideBarContainer {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentWrapper{
    float: none !important;
    display: flex;
    align-self: center;
    margin: 20px 0px 0px 0px; 
    width: 80%;
    max-width: 1000px;
  }
}

@media only screen and (max-width: 1100px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80% !important;
    /* max-width: 900px; 
  }

  .contentWrapper{
    width: 80%;
    /* max-width: 800px; 
  }
} */


@media only screen and (max-width: 500px) {
  .App-wrapper {
    width: 100vw;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width: 400px;
    margin: 0;
  }

  .contentWrapper{
    max-width: 400px;
    margin: 0;
    margin-top: 10px;
  }
}