@font-face {
  font-family: 'EleganTech';
  src: local('EleganTech'), url(./fonts/elegantech/EleganTech.ttf) format('truetype');
}

.sideBarContainer {
  position: fixed;
  left: 0;
  margin-left: 5%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
}

.App-wrapper {
  background-color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  font-family: EleganTech, 'Roboto', sans-serif;
}

h1 {
  font-size: 20px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.contentWrapper {
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 50px;
  margin-top: 50px;
  width: 800px;
  background-color: var(--secondary-color);
  border-radius: 12px;
}

@media only screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .sideBarContainer {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contentWrapper{
    width: 80%;
    max-width: 600px;
  }
}


@media only screen and (max-width: 500px) {
  .App-wrapper {
    width: 100vw;
  }

  .container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    max-width: 400px;
    margin: 0;
  }

  .contentWrapper{
    /* width: 70%; */
    max-width: 400px;
    margin: 0;
    margin-top: 10px;
  }
}