@font-face {
  font-family: 'EleganTech';
  src: local('EleganTech'), url(./fonts/elegantech/EleganTech.ttf) format('truetype');
}

.sideBarContainer {
  position: fixed;
  top: 0.5;
  left: 0;
  margin-left: 120px;
}

.App {
  text-align: center;
}

.App-wrapper {
  background-color: #1d0324;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 20px;
  font-family: EleganTech, 'Roboto', sans-serif;
}



h1 {
  font-size: 20px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 1000px;
}

.contentWrapper {
  padding: 10px;
  margin-left: 50px;
  width: 800px;
}
