
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
  color: white;
  margin-bottom: 10px;
} 

.activeRoute {
  color: var(--accent-color);
}
  
li:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

a {
  all: unset;
  font-size: 22px;
}

.navButtons {
  font-size: 18px;
  /* background-color: var(--secondary-color); */
  width: 50%;
  text-align: center;
  margin-top: 10px;
  padding: 15px;
  /* border-radius: 12px; */
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  border-left: 1px solid white;
}
/* TODO: switch to hamburger menu at 1000px */
/* @media only screen and (max-width: 1500px) {
  ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .navButtons {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
} */