
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
  color: white;
} 

.activeRoute {
  color: var(--accent-color);
}
  
li:hover {
  color: var(--highlight-color);
  cursor: pointer;
}

a {
  all: unset;
}

.navButtons {
  font-size: 18px;
  background-color: var(--secondary-color);
  width: 50%;
  text-align: center;
  padding: 15px;
  border-radius: 12px;
}

@media only screen and (max-width: 1000px) {
  ul {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .navButtons {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
    }
}