
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

li {
  color: #bbbbbb;
} 

.activeRoute {
  color: white;
}
  
  li:hover {
    color: pink;
    cursor: pointer;
  }

a {
  all: unset;
}